@font-face {
	font-family:gill;
	src: url('../fonts/gill/33535gillsansmt.ttf');
}
@font-face {
	font-family:aller;
	src: url('../fonts/aller/Aller_Lt.ttf');
}
html,
body {
	height: 100%;
}

.carousel,
.item,
.active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}


.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

footer {
	margin: 50px 0;
}
#top{
	background-color: #242424;
}
.navbar-brand {
	color: #57c5a0;
	font-size: 35px;
	font-family: gill,sans-serif;
	letter-spacing: -2px;
}
a:hover {
	text-decoration: none;
	color:#57c5a0;
}
.form-control {
	background-color: #242424;
	border-radius:0px;
	border: none;
	outline: none;
}
.nav>li>a{
	color:#242424;
	font-family: aller,sans-serif;
	font-size: 22px;
	text-decoration: none;
}
.nav>li>a:hover{
	color:#57c5a0;
	font-family: aller,sans-serif;
}
.glyphicon-search {
	color:#7e7e7e;
}
.btn-link {
	border-right: 1px solid #7e7e7e;
}
.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	background-color: #7e7e7e;
}
.navbar {
	margin: 10px 0 10px 30px;
}
#logRegister {
	color:#7e7e7e;
	padding-top: 15px;
	font-family: aller;
}
#logRegister:hover {
	color:#57c5a0;
}

/*input#ajax {
	width: 135px;
	height: 18px;
	border: 2px solid #6B9DD3;
	margin: 0 3px 0 8px;
	float: left;
	padding: 3px;
	}*/

/*.wrap{
	min-width: 600px;
	width: 80%;
	margin: auto;
	background: brown;
	***overflow: hidden;
	
	
	.content {
		width: 70%;
		float: left;
		background: red;
	}
	#menu >li {
		display: inline;
		padding-right: 10px;
	}
	ul a {
		text-decoration: none;
	}
	ul a:hover{
		text-decoration: underline;
		color: pink;
	}
	ul a:visited {
		color: red;
	}
	form ul {
		padding-left: 0;
	}
	form li {
		list-style: none;
		margin-bottom: 20px;
	}
	label {
		display: block;
	}
	li textarea {
		width: 300px;
		height: 100px;
	}
	#logo {
		background: url(../img/logo0.png) no-repeat;
		text-indent: -9999px;
		width: 117px;
		height: 72px;
		}important

		#denis {
			font-size: 120px;
			text-align: center;
			margin-top: 50px;
			font-family: cursive;
		}

ul:last-of-type li:nth-child(2) {
	color: orange;
	}
de retinut overflow: hidden;*/